@media(max-width: 786px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width: 80%;
    }
    .hero_content{
        gap: 10px;
        padding: 10px;
        
    }
    .hero_content h1{
        font-size: 32px;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .feature img{
        width: 72px;
    }
    .footer_container{
        flex-direction: column;
    }
}